/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: black;
}

h1{
    color: yellow;
}

.word-container{
    height: 40px;
    font-size: 30px;
    font-weight: 700;
    
}

.word-display{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-left: 15px;
    margin-right: 50px;
    background-color: white;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid lightgray;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    
    border-radius: 5px;

}

.tile.false{
    background-color: white;
    box-shadow: 2px 2px #ccc;
}

.tile.true {
    background-color: darkgray;
    box-shadow: none;
    color: #ccc;
}

.list-group{
    padding: 20px;
    margin: 10px;
    border: none;
    height: 250px;
    border-radius: 5px;
    background-color: #999;
}

.list-group-item{
    width: 22%;
    height: 25px;
    line-height: 8px;
    padding: 7px;
    margin: 3px;
display: inline-block;
}

.well{
    max-width: 1000px;
    background: gray;
    border: none;
}

.message{
    font-weight: 700;
    font-size: 28px;
    padding: 10px;
}